.titleCheck {
    position: absolute;
    width: 524px;
    height: 100px;
    left: 708px;
    top: 144px;
    font-family: 'iCiel Koni';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
}

.titleCheckLayout {
    position: absolute;
    width: 500px;
    height: 80px;
    top: -44px;
    filter: drop-shadow(0px 4px 8px rgba(165, 15, 15, 0.45));
}

.titleL {
    left: 250px;
}

.titleR {
    left: 31px;
}

.titleCheckmaginL {
    position: absolute;
    left: 2.47%;
    right: 14.32%;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(176.02deg, #FF000A -12.67%, #C2000B 101.08%);
    border-radius: 10px 10px 50% 50%;
}

.titleCheckBorderL {
    position: absolute;
    left: 2.47%;
    right: 2.32%;
    top: 7px;
    bottom: 9.59%;
    border-radius: 10px 10px 50% 50%;
    border: 1px dashed #FFFFFF;
}

.titleCheckText {
    position: absolute;
    left: 6.07%;
    right: -0.62%;
    top: -35.43%;
    bottom: 69.63%;
    font-family: 'iCiel Koni';
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 41px;
    color: #FFFFFF;
}

.dateCheck {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 234px;
    height: 94px;
    left: 613px;
    top: 81px;
}

.quantityCheck {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 140px;
    height: 94px;
    left: 426px;
    top: 81px;
}

.monneyCheck {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 233px;
    height: 94px;
    left: 129px;
    top: 81px;
}

.NameCheck {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 391px;
    height: 94px;
    left: 129px;
    top: 191px;
}

.phoneCheck {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 233px;
    height: 94px;
    left: 129px;
    top: 301px;
}

.emailCheck {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 391px;
    height: 94px;
    left: 129px;
    top: 411px;
}