.btnBuy {
    position: absolute;
    left: 8%;
    right: 0%;
    top: 86%;
    bottom: 5.49%;
    background: #BD000B;
    width: 360px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
}

.btnBuy:hover {
    background: #FF000A;
}

span {
    color: #FF000A;
}

.input-date,
.Datepicker {
    position: absolute;
    width: 188px;
    height: 46px;
    left: 209px;
    top: 125px;
    background: #FFFFFF;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    cursor: pointer;
}

.css-13cymwt-control {
    background: #FFFFFF;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px !important;
    width: 398px;
    height: 49px;
    left: 14px;
    top: 56px;
    position: absolute;
}

.Quantity {
    width: 150px;
    left: 18px;
    top: 127px;
    position: absolute;
    height: 66px;
}

.input-error,
.InputQuantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 16px;
    gap: 260px;

    position: absolute;
    width: 150px;
    height: 17px;
    /* left: 18px;
    top: 127px; */
    background: #FFFFFF;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
}

.Combobox {
    position: absolute;
    width: 398px;
    height: 49px;
    left: 14px;
    top: 56px;
    background: #FFFFFF;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
}

.input-phone,
.InputSdt {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 16px;
    gap: 260px;
    position: absolute;
    width: 375px;
    height: 10px;
    left: 12px;
    top: 290px;
    background: #FFFFFF;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
}

.input-email,
.InputEmail {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 16px;
    gap: 260px;
    position: absolute;
    width: 373px;
    height: 10px;
    left: 15px;
    top: 380px;
    background: #FFFFFF;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
}

.input-Name,
.Inputname {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 16px;
    gap: 260px;
    position: absolute;
    width: 372px;
    height: 10px;
    left: 15px;
    top: 205px;
    background: #FFFFFF;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
}

.package {
    position: absolute;
    width: 398px;
    height: 49px;
    left: 14px;
    top: 56px;
}

.input-package,
.packageInput {
    position: absolute;
    width: 398px;
    height: 49px;
    background: #FFFFFF;
    box-shadow: inset -1px 3px 3px rgba(179, 91, 11, 0.5);
    border-radius: 16px;
    cursor: pointer;
}

.input-package,
.input-email,
.input-phone,
.input-Name,
.input-date,
.input-error {
    border: 1px solid red;
    /* position: relative; */
}

.error-Quantity {
    position: absolute;
    top: -19px;
}

.ContentItem1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 748px;
    height: 40px;
    left: 127px;
    top: 239px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 748px;
    height: 40px;
    left: 127px;
    top: 239px;
}

.ContentItem2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 748px;
    height: 40px;
    left: 127px;
    top: 295px;
}

.ContentItem3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 748px;
    height: 40px;
    left: 127px;
    top: 351px;
}

.ContentItem4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 748px;
    height: 40px;
    left: 127px;
    top: 407px;
}

.imageStart {
    width: 37px;
    height: 40px;
    flex: none;
    flex-grow: 0;
    order: 0;
    flex-grow: 0;
}